body {
    font-family: Nunito;
}

header {
    background-color: #3b3b3b;
    height: 7vh;
}

.logo {
    width: 200px;
}

.nav-links {
    float: right;
}

nav > a {
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    margin: 5px;
}

#apply {
    padding:5px 10px;
    border-radius: 25%;
    background-color: #61ACE2;
    margin: 3px;
}

#apply:hover {
    color: #61ACE2;
    background-color: white;
}

main {
   text-align: center;
   margin: 33vh;
   font-size: 36px;
   font-weight: bold;
}

.circle {
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: right;
}